{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p></p>
<p style="font-weight:bold;">{% trans "You have been registered." %}</p>
<p>{% trans "Please, verify your e-mail to activate your account." %}</p>
{% endblock %}
