/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #e7e7e7;
}
