{%extends "base.html" %}


{% block jumbotron %}
<div class="jumbotron">
  <h2>About</h2>
  <p>This Virtual Observatory allows remote execution of some applications in Astronomy.</p>
  <p>The portal offer parallel versions of the <b>Friends-of-Friends</b> algorithm for astronomical objects classification, and algorithms for image restoration using <b>wavelet filtering.</b>
The users can perform as many executions as they wants, and at the end of each they can download the output file and a log file.</p>
  <p>This project was originally developed by Otávio Migliavacca Madalosso in 2015 as a conclusion work in his graduation in Computer Science at Federal University of Santa Maria (UFSM).
Currently, this is being continued by Ana Solórzano and Vinícius Monego.</p>
</div>
{% endblock %}
