{% load staticfiles %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title%}{%endblock%}</title>
    {% include 'head_css.html'%}

    <script>
      function test() {
          if (document.getElementById('id_Algorithm').value == '2') {
              document.getElementById('extra').style.display = 'block';
              document.getElementById('extra2').style.display = 'none';
          } else if (document.getElementById('id_Algorithm').value == '3'){
              document.getElementById('extra').style.display = 'block';
              document.getElementById('extra2').style.display = 'block';
          }else {
              document.getElementById('extra').style.display = 'none';
              document.getElementById('extra2').style.display = 'none';
          }
      }
     </script>


    </head>

  <body>
   {% load staticfiles %}
    {% include 'navbar.html' %}

      {% block messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable"
                 style="padding: 5px; width: 20%; float:right; text-align: center;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endblock messages %}

    <div style="margin-bottom:50px;padding-top:10px;" class="container">

        {% block jumbotron %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>


    <div class="container-fluid">
      <div class="row">
      {% block container %}
      {% endblock %}
      </div>
    </div>

    {% include "javascript.html" %}

  </body>
</html>