{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}{{title}}{% endblock %}

<!--TABELA DOS EXPERIMENTOS -->
{% block content %}
<div class="row">
  {% if data != None %}
  <div class = "col-sm-12 col-md-12 text-center">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><input id="checkHeader" type="checkbox" value=""></th>
          <th>ID</th>
          <th data-align="center">Requisition date</th>
          <th data-align="center">Status</th>
          <th>Algorithm</th>
          <th>Time</th>
          <th>Input file</th>
          <th>Output file</th>
          <th>Log file</th>
        </tr>
      </thead>

      <tbody id="tableExp">
        {% for exp in data %}
        <tr>
          <td><input type="checkbox" value="{{exp.id}}"></td>
          <td>{{exp.id}}</td>
          <td>{{exp.date_requisition}}</td>
          <td>
            {% if exp.status == 1 %}
            Waiting
            {% else %}
            {% if exp.status == 2 %}
            Running
            {% else %}
            {% if exp.status == 3 %}
            Finished
            {% endif %}
            {% endif %}
            {% endif %}
          </td>
          <td>{{exp.algorithm}}</td>
          <td>
            {% if exp.time == -1 %}
              -
            {% else %}
              {{exp.time|floatformat:-4}} s
            {% endif %}
          </td>
          <td>
            {% if exp.inputFile%}
            <a  href="{% url 'downloadInputFile'%}?id={{exp.id}}"><button type="button" class="btn btn-success">Download</button></a>
            {% else %}
            <button type="button" class="btn btn-warning disabled">No input</button>
            {% endif %}
          </td>
          <td>
            {% if exp.outputFile%}
            <a  href="{% url 'downloadOutputFile'%}?id={{exp.id}}"><button type="button" class="btn btn-success">Download</button></a>
            {% else %}
            <button type="button" class="btn btn-warning disabled">No results</button>
            {% endif %}
          </td>
          <td>
            {% if exp.logFile %}
              <a  href="{% url 'downloadLogFile'%}?id={{exp.id}}"><button type="button" class="btn btn-success">Download</button></a>
            {% else %}
              <button type="button" class="btn btn-warning disabled">No log</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% else %}
    <div id="colForm" class="col-sm-3 col-md-3"></div>
    <div id="colForm" class="col-sm-6 col-md-6 text-center">
      <hr>
      <p1>You have no experiments.</p1>
      <hr>
    </div>
    <div id="colForm" class="col-sm-3 col-md-3"></div>
  {% endif %}

</div>

      <div style="padding-bottom:10px" >
      <ul class="nav navbar-nav navbar-right">
        <ul class="pagination no-margin pull-right">

          {% if data.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a></li>
          {% endif %}

          {% for page, value in pagesIndex.items %}
            {% if value > 0 %}
              <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
            {% endif %}

              <!--{% if page == 2 %}-->
              <!--<li class='active'><a href="#">{{value}}</a></li>-->
              <!--{% else %}-->
              <!--<li><a href="?page={{value}}">{{value}}</a></li>-->
              <!--{% endif %}-->

          {% endfor %}

          {% if data.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ data.next_page_number }}">Next</a></li>
          {% endif %}

        </ul>
      </ul>
    </div>

    <form id="formRemove" method='POST' action='{% url 'expRemove' %}' enctype="multipart/form-data">
      {% csrf_token %}
      <input type="submit" id="btExcluir" class="btn btn-default btn-sm" value="Remove">
    </form>

{% endblock %}
