<!-- Static navbar -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Web portal</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
	  <li class="nav-item">
	  <a class="nav-link" href="{% url 'about' %}">About</a>
	  {% if request.user.is_authenticated %}
	  <li class="nav-item">
	  <a class="nav-link" href="{% url 'experiments' %}">Experiments</a>
		<li class="nav-item">
		  <div class="dropdown">
			<button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Friends-of-Friends</button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{% url 'fofapp:fof' %}">Run</a>
				  <a class="dropdown-item" href="{% url 'fofapp:about' %}">About</a>
			  </div>
		 </div>

	<li class="nav-item">
	  <div class="dropdown">
	    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Images</button>
	    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	      <a class="dropdown-item" href="{% url 'wavelet' %}">Wavelet</a>
	    </div>
	  </div>
	  {% endif %}
      </ul>

      <ul class="navbar-nav ml-auto">
	{% if request.user.is_authenticated %}
	<li class="nav-item mr-sm-2">
	  <a>{{user}}</a>
	<li class="nav-item mr-sm-2">
	  <a href="{% url 'auth_logout' %}">Sair</a>
	{% else %}
	<li class="active mr-sm-2"><a href="{% url 'registration_register' %}">Sign up</a></li>
	{% endif %}
      </ul>

      {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
      <form class="form-inline" method="POST" action="{% url 'auth_login' %}">{%csrf_token%}
	<div class="form-group">
	  <input type="text" class="form-control mr-sm-2" name="username" placeholder="Username">
	</div>
	<div class="form-group">
	  <input type="password" class="form-control mr-sm-2" name="password" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-default">Sign in</button>
      </form>
      {%endif%}
    </div><!--/.nav-collapse -->
  </div>
</nav>